#number_container{
    /* we dont wont to display the numbers */
    display: none;
}

body.dark{
    background-color:rgb(32, 28, 28); 
    color: white;
} 


header {
    /* in this we align elements to the center */
    text-align: center;
    /* centres the text */
    padding-bottom: 10px;
    border-bottom: 1px solid red;
}
h1{
    font-size: 45pt;
    color: black;
    padding: 1px;
    background-color: grey;
    border-radius: 15px;
    /* width: fit-content;  */
    margin-bottom: 4px;
    margin-top: 2px;
    /* text-align: center;
    align-items: center;
    justify-content: center;
    display: flex; */


}
.div1{
    /* we will make a div and then trigger flex and make a center  */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
#setupgame{
    /* id of the theme and difficulty and time */
    display:flex ;
    justify-content: center;
    /* centres all the elements that is inside the setup game */
}
#setupgame > *{
    /* this gives this properties to every element i.e the child of this id */
    /* >* +* <* */
    /* it shows that it is a direct children of setup game and it woudnlt allow to make it up  */
    
    margin-top: 2px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    /* align items inside the flexbox vertically and margin auto for aligning all over the page rather than flexbox */
}
h3{
    font-size: 30px;
    display: flex;
    flex-wrap: center;
    justify-content: center;
    background-color: teal;
    color:  black;
    border-radius: 10px;
}


button{
    /* display: flex; */
    justify-items: center;
    /* button stays in center irrespective of screen size */
    /* border-radius: 10px;
    border: solid black;
    border-radius: 10px;
    outline: 0px; */
    /* position: fixed; */
}
a:hover{
    font-size: 20px;
}
p#lives, p#timer{
    /* aise likha h paragraph m lines h */
    font-size: 25px ;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    
}
#game{
    display: flex;
    /* helps deploy flexbox */
    justify-content: center;
}
#number_container{
    /* margin-top: 2px; */
    display: none;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    flex-direction: column;
}
#number_container > *{
    /* applying for every child */
    /* this holds every number singly */
    border: 1px solid;
    border-radius: 15px;
    width: 45px;
    height: 45px;
    font-size: 30pt;
    margin-left: 20px;
    margin-right: 2px;
    margin-top: 20px;
    margin-bottom: 1px;
    text-align: center;
}
#board{
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    width: 600px;
    height: 600px;
}

.tile {
    border: 1px solid black ;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 2px;
    vertical-align: middle;
    font-size: 40pt;   
}
p.selected{
    background-color: rgb(49, 159, 209);
}
p.incorrect {
    color: red;
}
.rightborder{
    border-right: 4px solid black;
}
.bottomborder{
    border-bottom: 4px solid black;
}
footer {
    background-color: lightgray;
    text-align: center;
    margin: 10px;
}
